html,body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
  width:100%;
  background:#F5F1C4;
}

.polycat {
  max-width: 100%;
}

.polycat polygon {
  opacity: 1;
}